<h2>Active Games</h2>

<p class="header-actions">
  <%= button_to "Start New Game", games_path, method: :post %>
</p>


<table class="games-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Current player</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr class="clickable-row" onclick="Turbo.visit('<%= game_path(game) %>')">
        <td>Game #<%= game.id %></td>
        <td>
          <% if game.finished? %>
            <span class="status status-win">Finished (<%= game.winner %>)</span>
          <% else %>
            <span class="status status-turn">
              In progress
            </span>
          <% end %>
        </td>

        <td>
          <%= game.current_player %>
        </td>

        <td class="actions">
          <%= button_to "Delete",
                game_path(game),
                method: :delete,
                data: { turbo_confirm: "Delete this game?" },
                class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
